.table
{
    border: 3px solid lightseagreen;
}
.img
{
    height: 20px;
    width: 20px;;
}
.cont
{
    background-color: rgb(220, 236, 238);
    text-align: center;
    text-decoration: double;padding: 30px;
    border: 3px solid black;
    margin: 10px;
    
}
.form
{
    text-align: left;
}
.col-6
{
    color: brown;
}.h
{
    color: #0751f3;
    text-decoration: underline;
}