.App {
    display: grid;
    place-items: center;
}

.input-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin-bottom: 10px;
}

.form-button {
    text-align: center;
}
